name: Build & Deploy Backend

on:
  push:
    branches: ["master"]
    paths:
      - "authos-api/**"
      - ".github/workflows/backend.yaml"

env:
  IMAGE_VERSION_PATTERN: "1.0.${{ github.run_number }}-alpha"
  DOCKERHUB_NAMESPACE: "stevetosak"

jobs:
  backend-build-push:
    runs-on: ubuntu-22.04
    outputs:
      IMAGE_LATEST: ${{ steps.backend_image_tags.outputs.IMAGE_LATEST }}
      IMAGE_VERSION: ${{ steps.backend_image_tags.outputs.IMAGE_VERSION }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('authos-api/**/pom.xml') }}

      - name: Build Spring Boot App
        working-directory: ./authos-api
        run: mvn -q clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/setup-buildx-action@v3

      - name: Set API image tags
        id: backend_image_tags
        run: |
          IMAGE_LATEST="${{ env.DOCKERHUB_NAMESPACE }}/authos-api:latest"
          IMAGE_VERSION="${{ env.DOCKERHUB_NAMESPACE }}/authos-api:${{ env.IMAGE_VERSION_PATTERN }}"
          echo "IMAGE_LATEST=$IMAGE_LATEST" >> $GITHUB_OUTPUT
          echo "IMAGE_VERSION=$IMAGE_VERSION" >> $GITHUB_OUTPUT

      - name: Build & push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./authos-api
          push: true
          tags: |
            ${{steps.backend_image_tags.outputs.IMAGE_LATEST}}
            ${{steps.backend_image_tags.outputs.IMAGE_VERSION}}

  deploy-backend:
    needs: backend-build-push
    runs-on: ubuntu-22.04
    steps:
      - name: Setup Kustomize
        uses: imranismail/setup-kustomize@v2.1.0

      - name: Checkout infra repo
        uses: actions/checkout@v4
        with:
          repository: 'stevetosak/${{vars.INFRA_REPO_NAME}}'
          token: '${{secrets.INFRA_REPO_TOKEN}}'
          path: '${{vars.INFRA_REPO_NAME}}'

      - name: Update Overlay
        run: |
          cd ${{vars.INFRA_REPO_NAME}}/${{vars.INFRA_REPO_API_OVERLAY_DIR}}
          kustomize edit set image ${{needs.backend-build-push.outputs.IMAGE_VERSION}}

      - name: Commit and Push Changes
        run: |
          cd ${{vars.INFRA_REPO_NAME}}
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git diff --cached --quiet || git commit -m "Update API image"
          git push origin HEAD
