name: Build & Push Authos Images

on:
  push:
    branches: [ "master" ]
    paths:
      - "authos-api/**"
      - "authos-frontend/**"
      - ".github/workflows/**"

jobs:
  backend-build-deploy:
    runs-on: ubuntu-latest

  #Samo pri promena vo folderot se runvit ova, ili ako imat force-backend vo commit msg
    if: |
      contains(github.event.head_commit.message, '[force-backend]') ||
      !startsWith(steps.changed.outputs.backend, '0')
    steps:
      - uses: actions/checkout@v4

      - name: Detect changed files
        id: changed
        run: |
          echo "backend=$(git diff --name-only HEAD~1 HEAD | grep -c '^authos-api/' || true)" >> $GITHUB_OUTPUT

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Maven
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('authos-api/**/pom.xml') }}

      - name: Build Spring Boot App
        working-directory: ./authos-api
        run: mvn -q clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/setup-buildx-action@v3

      - name: Build & push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./authos-api
          platforms: linux/amd64
          push: true
          tags: |
            stevetosak/authos-api:latest
            stevetosak/authos-api:${{ github.sha }}

  frontend-build-deploy:
    runs-on: ubuntu-latest
    needs: backend-build-deploy

    # Only run if frontend changed
    if: |
      contains(github.event.head_commit.message, '[force-frontend]') ||
      !startsWith(steps.changed.outputs.frontend, '0')
    steps:
      - uses: actions/checkout@v4
      - name: Detect changed files
        id: changed
        run: |
          echo "frontend=$(git diff --name-only HEAD~1 HEAD | grep -c '^authos-frontend/' || true)" >> $GITHUB_OUTPUT

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Cache NPM packages
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('authos-frontend/**/package-lock.json') }}

      - name: Build React frontend
        working-directory: ./authos-frontend
        run: |
          npm ci
          npm run build

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/setup-buildx-action@v3

      - name: Build & push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./authos-frontend
          platforms: linux/amd64
          push: true
          tags: |
            stevetosak/authos-ui:latest
            stevetosak/authos-ui:${{ github.sha }}
